[package]
name = "backhand"
version.workspace = true
authors.workspace = true
license.workspace = true
edition.workspace = true
repository.workspace = true
keywords.workspace = true
categories.workspace = true
rust-version = "1.67.1"
description = "Library for the reading, creating, and modification of SquashFS file systems"
readme = "../README.md"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[dependencies]
deku = "0.16.0"
tracing = { version = "0.1.40" }
thiserror = "1.0.59"
flate2 = { version = "1.0.30", optional = true }
zune-inflate = { version = "0.2.54", optional = true, default-features = false, features = ["zlib"] }
xz2 = { version = "0.1.7", optional = true }
rust-lzo = { version = "0.6.2", optional = true }
zstd = { version = "0.13.1", optional = true }
zstd-safe = { version = "7.0.0", optional = true }
rustc-hash = "1.1.0"
document-features = { version = "0.2.8", optional = true }

[features]
default = ["xz", "gzip", "zstd"]
## Enables xz compression inside library and binaries
xz = ["dep:xz2"]
## Enables xz compression and forces static build inside library and binaries
xz-static = ["dep:xz2", "xz2?/static"]
## Internal only
any-gzip = []
## Enables gzip compression inside library and binaries using flate2 library
## Cannot be used with the `gzip-zune-inflate` feature
gzip = ["any-gzip", "dep:flate2"]
## Enables faster gzip (de-compression only) inside library and binaries using zune-inflate
## Cannot be used with the `gzip` feature
gzip-zune-inflate = ["any-gzip", "dep:zune-inflate"]
## This library is licensed GPL and thus disabled by default
lzo = ["dep:rust-lzo"]
## Enables zstd compression inside library and binaries
zstd = ["dep:zstd", "dep:zstd-safe"]

[dev-dependencies]
test-log = { version = "0.2.15", features = ["trace"] }
test-assets = { git  = "https://github.com/wcampbell0x2a/test-assets", branch = "replace-curl-ureq" }
assert_cmd = { version = "2.0.14", features = ["color", "color-auto"] }
dir-diff = { git  = "https://github.com/wcampbell0x2a/dir-diff", branch = "add-checking-permissions" }
tempfile = "3.10.1"
criterion = "0.5"
libdeflater = "1.20.0"

[[bench]]
name = "benchmark"
harness = false

[lib]
bench = false
