on: [pull_request]
name: CI Pull Request
jobs:
  benchmark:
    name: Benchmark
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          fetch-depth: 0
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - uses: wcampbell0x2a/criterion-compare-action@20e6511506d7c141bcb0e336db78928cc5504870
        with:
          branchName: ${{ github.base_ref }}
          before: "cargo build --bins --release --locked --workspace"
          token: ${{ secrets.GITHUB_TOKEN }}
