on:
  push:
    branches: [ master ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ master ]

env:
  BINS: "add-backhand unsquashfs-backhand replace-backhand"

name: binaries

jobs:
  # release binaries
  release-bins:
    runs-on: ${{ matrix.job.os }}
    env:
      RUSTFLAGS: "-C target-feature=+crt-static"
      BUILD_CMD: cargo
    strategy:
      fail-fast: false
      matrix:
        job:
          - { target: x86_64-unknown-linux-musl,    os: ubuntu-24.04, use-cross: true }
          - { target: aarch64-unknown-linux-musl,   os: ubuntu-24.04, use-cross: true }
          - { target: arm-unknown-linux-musleabi,   os: ubuntu-24.04, use-cross: true }
          - { target: armv7-unknown-linux-musleabi, os: ubuntu-24.04, use-cross: true }
          - { target: x86_64-apple-darwin,          os: macos-14                       }

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Populate cache
        uses: ./.github/workflows/cache

      - name: Overwrite build command env variable
        if: matrix.job.use-cross
        shell: bash
        run: |
          echo "BUILD_CMD=cross" >> $GITHUB_ENV
          RUSTFLAGS="-C target-feature=-crt-static" cargo install cross --git https://github.com/cross-rs/cross

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          target: ${{ matrix.job.target }}

      - name: Build {add,replace}-backhand (Linux with v3, Mac/Windows without)
        shell: bash
        run: |
          if [[ "${{ matrix.job.target }}" == *"darwin"* || "${{ matrix.job.target }}" == *"windows"* ]]; then
            # without v3_lzma
            $BUILD_CMD build -p backhand-cli --bin add-backhand --bin replace-backhand --no-default-features --features xz-static,gzip,zstd,lz4,parallel,v3 --locked --target ${{ matrix.job.target }} --profile=dist
          else
            $BUILD_CMD build -p backhand-cli --bin add-backhand --bin replace-backhand --features xz-static --locked --target ${{ matrix.job.target }} --profile=dist
          fi

      - name: Build unsquashfs-backhand (Linux with v3, Mac/Windows without)
        shell: bash
        run: |
          if [[ "${{ matrix.job.target }}" == *"darwin"* || "${{ matrix.job.target }}" == *"windows"* ]]; then
            $BUILD_CMD build -p backhand-cli --bin unsquashfs-backhand --locked --target ${{ matrix.job.target }} --profile=dist --no-default-features --features zstd,xz-static,gzip,parallel,v3
          else
            $BUILD_CMD build -p backhand-cli --bin unsquashfs-backhand --locked --target ${{ matrix.job.target }} --profile=dist --no-default-features --features zstd,xz-static,gzip,parallel,v3,v3_lzma
          fi
      - name: archive
        run: |
          tar -czvf backhand-${{ matrix.job.target }}.tar.gz \
              -C target/${{ matrix.job.target }}/dist/ $BINS

      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: backhand-${{ matrix.job.target }}.tar.gz
          path: backhand-${{ matrix.job.target }}.tar.gz

      # check semvar before release!
      - name: Check semver
        env:
          # disable static build for this job
          RUSTFLAGS: ""
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: obi1kenobi/cargo-semver-checks-action@5b298c9520f7096a4683c0bd981a7ac5a7e249ae # v2.8
        with:
          package: backhand
          feature-group: default-features

      - name: Upload binary to release
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        uses: svenstaro/upload-release-action@04733e069f2d7f7f0b4aebc4fbdbce8613b03ccd # v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: backhand-${{ matrix.job.target }}.tar.gz
          asset_name: backhand-${{ github.ref_name }}-${{ matrix.job.target }}.tar.gz
          tag: ${{ github.ref }}
          prerelease: true
          overwrite: true
