name: Coverage

on: [pull_request, push]

permissions:
  contents: read

jobs:
  coverage:
    runs-on: ubuntu-24.04
    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Populate cache
        uses: ./.github/workflows/cache

      - run: sudo apt-get install -y squashfs-tools

      # Nightly Rust is required for cargo llvm-cov --doc.
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: llvm-tools-preview

      - uses: taiki-e/install-action@cargo-llvm-cov
      - uses: taiki-e/install-action@nextest

      # generate release builds of the testable binaries
      # this is meant to actually run the binary, so this will fail but the binary will be built
      - run: cargo llvm-cov run --bin replace-backhand --no-clean --release || true
      - run: cargo llvm-cov run --bin add-backhand --no-clean --release || true
      - run: cargo llvm-cov run --bin unsquashfs-backhand --no-clean --release || true  
      - run: cargo llvm-cov --workspace --codecov --output-path codecov.json --features __test_unsquashfs --release --no-clean -- --skip slow --skip large_files

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: codecov.json
          fail_ci_if_error: true
