on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule: [cron: "40 1 * * *"]

name: ci

jobs:
  # build on backhand only supported target
  cross-build:
    runs-on: ${{ matrix.job.os }}
    env:
      BUILD_CMD: cargo
    strategy:
      fail-fast: false
      matrix:
        job:
          - { target: x86_64-pc-windows-gnu,        os: ubuntu-24.04, use-cross: true }
        toolchain:
          - stable
            # msrv of backhand-cli
          - 1.84
        features:
          - --no-default-features --features xz
          - --no-default-features --features gzip
          - --no-default-features --features gzip,xz
          - --no-default-features --features gzip,xz,parallel
          - --no-default-features --features xz-static
          - --no-default-features --features lz4
          - --no-default-features --features parallel
          # default features
          -

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Populate cache
        uses: ./.github/workflows/cache

      - name: Overwrite build command env variable
        if: matrix.job.use-cross
        shell: bash
        run: |
          echo "BUILD_CMD=cross" >> $GITHUB_ENV
          RUSTFLAGS="-C target-feature=-crt-static" cargo install cross --git https://github.com/cross-rs/cross

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      # build lib with cross
      - run: $BUILD_CMD +${{ matrix.toolchain }} build ${{ matrix.features }} --target ${{ matrix.job.target }} --release --locked --workspace --lib

  # build/test all supported targets for library and bins (skipping slow and squashfs-tools tests)
  cross-test:
    runs-on: ${{ matrix.job.os }}
    env:
      RUSTFLAGS: "-C target-feature=+crt-static"
      BUILD_CMD: cargo
    strategy:
      fail-fast: false
      matrix:
        job:
          - { target: x86_64-unknown-linux-musl,    os: ubuntu-24.04,     use-cross: true }
          - { target: arm-unknown-linux-musleabi,   os: ubuntu-24.04,     use-cross: true }
          - { target: armv7-unknown-linux-musleabi, os: ubuntu-24.04,     use-cross: true }
          - { target: aarch64-unknown-linux-musl,   os: ubuntu-24.04-arm, use-cross: false}
          - { target: x86_64-apple-darwin,          os: macos-14,         use-cross: false}
        toolchain:
          - stable
            # msrv of backhand-cli
          - 1.84
        features:
          # default features
          -

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Populate cache
        uses: ./.github/workflows/cache

      - name: Overwrite build command env variable
        if: matrix.job.use-cross
        shell: bash
        run: |
          echo "BUILD_CMD=cross" >> $GITHUB_ENV
          RUSTFLAGS="-C target-feature=-crt-static" cargo install cross --git https://github.com/cross-rs/cross

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
          # TODO: really only needed for the matrix variables without use-cross
          targets: ${{ matrix.job.target }}

      # build lib and bins with cross or cargo
      - run: $BUILD_CMD +${{ matrix.toolchain }} build ${{ matrix.features }} --target ${{ matrix.job.target }} --release --locked --workspace --features xz-static
      # test with cross, skipping slow test and tests that use more then qemu default memory without use-cross without use-cross
      - run: CROSS_CONTAINER_OPTS="--network host" RUST_LOG=info $BUILD_CMD +${{ matrix.toolchain }} test --workspace --release ${{ matrix.features }} --target ${{ matrix.job.target }} --features xz-static --locked -- --skip slow --skip no_qemu

  # build/test all supported on native x86_64 arch for library and bins (all tests)
  build-test-native:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        toolchain:
          - stable
            # msrv of backhand-cli
          - 1.84
        features:
          - --no-default-features --features xz
          - --no-default-features --features gzip
          - --no-default-features --features gzip,xz
          - --no-default-features --features xz-static
          - --no-default-features --features lz4
          # default features
          -

    steps:
      - run: sudo apt-get install -y squashfs-tools
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: dtolnay/rust-toolchain@a54c7afa936fefeb4456b2dd8068152669aa8203 # master
        with:
          toolchain: ${{ matrix.toolchain }}
      # build bins
      - run: cargo +${{ matrix.toolchain }} build ${{ matrix.features }} --release --locked --workspace
      # run tests with native unsquashfs on x86_64-unknown-linux-musl (using Cross.toml)
      - run: RUST_LOG=info cargo +${{ matrix.toolchain }} test --workspace --release ${{ matrix.features }}  --locked --features __test_unsquashfs -- --skip slow

  # fmt and clippy on stable
  fmt-clippy-stable:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: dtolnay/rust-toolchain@a54c7afa936fefeb4456b2dd8068152669aa8203 # master
        with:
          toolchain: stable
          components: rustfmt, clippy

      # fmt
      - run: cargo fmt --all -- --check

      # clippy
      - run: cargo clippy -- -D warnings
