name: 'pull-request'
on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      - labeled
      - unlabeled

jobs:
  changelog:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.PAT }}

      - uses: dangoslen/dependabot-changelog-helper@3e4e9ccb99f4a3214f6ae9fe3339917d8f836ba7 # v3.8.1
        with:
          version: 'Unreleased'
          activationLabels: 'C-dependencies,dependabot-reviewed'
          changelogPath: './CHANGELOG.md'
        
      - name: Commit the changes
        uses: stefanzweifel/git-auto-commit-action@8756aa072ef5b4a080af5dc8fef36c5d586e521d # v5.0.0
        with:
          skip_checkout: true
          commit_message: "Update changelog"
          branch: ${{ github.head_ref }}
